html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app-row {
  padding-top: 2rem;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.5rem 0 0.5rem 0;
  background-color: #f8f9fa !important;
}

.table-budget td {
  padding: 0.7rem;
}

.card-deck {
  padding-top: 2rem;
}

.card-crop {
  max-height: 15vw;
  overflow:hidden;
}